<div style="display:flex; justify-content: center; vertical-align: center;">
    <nb-card>
        <nb-card-body>
            <form [formGroup]="fg" (ngSubmit)="check()">
                <div>
                    <input nbInput formControlName="Name" nbInput placeholder="Nom">
                    <div *ngIf="fg.get('Name').touched || fg.get('Name').dirty">
                        <p *ngIf="fg.get('Name').hasError('required')">Le champs est requis</p>
                        <p *ngIf="fg.get('Name').hasError('maxlength')">Le champ est trop long</p>
                    </div>
                </div>
                <div>
                    <input nbInput formControlName="Password" placeholder="Password"/>
                    <div *ngIf="fg.get('Password').touched || fg.get('Password').dirty">
                        <p *ngIf="fg.get('Password').hasError('required')">Le champs est requis</p>
                        <p *ngIf="fg.get('Password').hasError('maxlength')">Le champ est trop long</p>
                    </div>
                </div>
                <div style="display:flex; justify-content: space-between;">           
                    <button nbButton [disabled]="fg.invalid">Envoyer</button>
                    <nb-checkbox (checkedChange)="liked($event)">History</nb-checkbox>
                </div>
            </form>
        </nb-card-body>
    </nb-card>
</div>