<div id='all'>
  <div class="hello">
    <div>
      <nb-card>
          <p>
            Bonjour {{currentUser.name}}
          </p>
      </nb-card>
    </div>
    <div id="discount"> 
      <nb-card>
        <nb-card-body>
            <p>
              {{timer}}
            </p>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  <div class="graph" style="width: 80%; margin:auto">

    <canvas baseChart 
    [datasets]="lineChartData"
    [labels]="lineChartLabels"
    [options]="lineChartOptions"
    chartType="line"></canvas>                                       
  </div>
  <div id="timer">
    <button nbButton [disabled]="isStarted" (click)="start()">Start</button>
    <button nbButton [disabled]="!isStarted" (click)="stop()">Stop</button>
    <button (click)="changeUser()" nbButton>Change user</button>
  </div>
  <div>
    <nb-card>
        
    </nb-card>
  </div>

</div>
