#timer{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.hello{
    height:30px;
    display: flex; 
    justify-content: space-around;
}
.hello p{
    padding:10px;
    height: 100%;
}

#all{
    max-height: 100vh;
    overflow: auto;
    width: 100%;
}

button{
    height:20px;
}