<div class="flex">
    <div class="flex-item">
      <div style="display: block;">
      <canvas baseChart 
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              chartType="line"></canvas>                                       
      </div>
    </div>
</div>
