<div id="page">
  <div class="flex" style="width: 700px">
      <div class="flex-item">
        <div style="display: block;">
        <canvas baseChart width="400" height="400"
                    [datasets]="lineChartData"
                    [labels]="lineChartLabels"
                    [options]="lineChartOptions"
                    [colors]="lineChartColors"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType"></canvas>
        </div>
      </div>
  
      <div id="options">
        <div class="flex-item option">
            <select (change)="selectChangeHandler($event)" (click)="clickedSelect()" order="1">
                <option value="null" disabled selected>Choose your record</option>
                <option *ngFor="let item of test" value={{item.time}} class="option">
                    {{ item.time }}
                </option>
            </select>
          <button mat-button mat-raised-button color="primary" (click)="hideOne($event)" order="1" disabled>Afficher</button>
          <input (change)="changeOpacity($event)" (input)="changeOpacity($event)" type="range" id="opacity1" name="opacity1" min="0" max="0.4" step="0.01" order="1" value="{{ opacity[0] }}" disabled>
          <label for="opacity1">Opacity : {{ opacity[0] }}</label>
        </div>
    
        <div class="flex-item option">
            <select (change)="selectChangeHandler($event)" (click)="clickedSelect()" order="2">
                <option value="null" disabled selected>Choose your record</option>
                <option *ngFor="let item of test" value={{item.time}} class="option">
                    {{ item.time }}
                </option>
            </select>
          <button mat-button mat-raised-button color="primary" (click)="hideOne($event)" order="2" disabled>Afficher</button>
          <input (change)="changeOpacity($event)" (input)="changeOpacity($event)" type="range" id="opacity2" name="opacity2" min="0" max="0.4" step="0.01" order="2" value="{{ opacity[1] }}" disabled>
          <label for="opacity2">Opacity : {{ opacity[1] }}</label>
        </div>
    
        <div class="flex-item option">
            <select (change)="selectChangeHandler($event)" (click)="clickedSelect()" order="3">
                <option value="null" disabled selected>Choose your record</option>
                <option *ngFor="let item of test" value={{item.time}} class="option">
                    {{ item.time }}
                </option>
            </select>
          <button mat-button mat-raised-button color="primary" (click)="hideOne($event)" order="3" disabled>Afficher</button>
          <input (change)="changeOpacity($event)" (input)="changeOpacity($event)" type="range" id="opacity3" name="opacity3" min="0" max="0.4" step="0.01" order="3" value="{{ opacity[2] }}" disabled>
          <label for="opacity3">Opacity : {{ opacity[2] }}</label>
        </div>
    
      </div>
    </div>
</div>