#options {
    margin-left: 35px;
    margin-top: 50px;
}

.option {
    margin-bottom: 10px;
}

.option>* {
    margin-right: 10px;
}

#page {
    background-color: aliceblue;
    width: 800px;
    padding-bottom: 7px;
}

label {
    color: black;
}